*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 2rem;
}

ol{
    height: 200px;
    list-style-type: none;
    background-color: teal;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    gap: 5px;
}

ol li{
    background-color: fuchsia;
    /* margin: 2px; */
    padding: 0.5rem;
    border-radius: 5px;
}

.first{
    order: 2;
}

.second{
    order: 3;
}

.third{
    order: 1;
}

.cont{
    border: 2px solid red;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    height: 200px;
    align-items: center;
}

.item{
    background-color: orange;
}

.container{
    margin-top: 10px;
    background-color: orange;
    padding: 1rem;
    display: flex;
}

.container .box1{
    background-color: magenta;
    /* flex-grow: 1; */
    /* flex-basis: 150px; */
    /* flex-shrink: 2; */
    flex: 2 2 100px;
}

.container .box2{
    background-color: blue;
    /* flex-grow: 3; */
    /* flex-basis: 150px; */
    /* flex-shrink: 0; */
    flex: 2 2 100px;
}

.container .box3{
    background-color: olive;
    /* flex-grow: 1; */
    /* flex-basis: 150px; */
    /* flex-shrink: 5; */
    flex: 2 2 100px;
}

.container1{
    margin-top: 50px;
    background-color: bisque;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: center;
    color: yellow;
}

.container1 *{
    background-color: crimson;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.container1 header{
    flex: 1 100%;

}

.container1 .left{
    flex: 1;

}

.container1 main{
    flex: 4;

}

.container1 .right{
    flex: 4;

}

.container1 footer{
    flex: 1 100%;
}

.container2 *{
    background-color: olive;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
}

.container2 header{
    background-color: orange;
    width: 100%;
}

.container2 footer{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container2 main{
    background-color: skyblue;
    width: 50%;
    flex-grow: 1;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://picsum.photos/id/684/600/400");
    background-size: cover;
    background-position: top;
    gap: 10px;
}

.container2 .left{
    background-color: teal;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container2 .right{
    background-color: deeppink;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}