*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 2rem;
}

ol{
    height: 200px;
    list-style-type: none;
    background-color: teal;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ol li{
    background-color: fuchsia;
    margin: 2px;
    padding: 0.5rem;
    border-radius: 5px;
}